.hero{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.hero div{
    width: 50%;
    padding: 5%;
}

.hero-img{
    padding-top: 20px;
}

.hero-img img{
    max-width: 100%;
   height: 400px;
}


.dots{
    position: absolute;
    left: -90px;
    top: -60px;
}