.services{
    width: 100%;
    margin-top: 20px;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.services h1{
    font-weight: bold;
    font-size: 32px;
}

.services p{
  color: #7D7987;
  text-align: center;
}




 /* .services-h1, .services-h1{
    text-align: center;
} */

.services h1{
    text-align: center;
}

.boxes{
    width: 90%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:10px;
    margin-top: 20px;
}

.box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* text-align: center; */
    padding: 10px 10px;
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.box img{
    width: 100px;
}

.btn{
    border-color: 458FF6;
    border-radius: 100px;
    height: 40px;
    width: 130px;
    color: #458FF6;
    background-color: white;
    border:  none;
    outline: none;
    border: 1px solid #458FF6;
    
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}